 
<template>
    <div class="">
      <!---->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link :to="{name: 'Books'}">Рабочий стол</router-link></li>
                <li class="breadcrumb-item"><router-link :to="{name: 'provaider'}">Провайдеры</router-link></li>
                <li class="breadcrumb-item"><router-link :to="{name: 'provaider-item', params: {id: provaider.id}}">Список элементов провайдера {{provaider.name}} </router-link></li>
                <li class="breadcrumb-item active" aria-current="page">Тэги для: {{provaideritem.name}}</li>
            </ol>
        </nav>
        
<alert :message=message v-if="showMessage"></alert>
        <div class="card">
            <div class="card-body">

                <h4 class="card-title float-left">Список тэгов элемента провайдера: {{provaideritem.name}}</h4>
                <br/><hr/>
                <form class="forms-sample container" @submit="onSubmit">

                    <!--Начало изменений-->
                    <div class="row">

                      <div class="form-group col-sm-4" > 
                          <label for="">Ограничить коллекцией:</label>
                          <select v-model="filterCollection" class="form-control col-sm-6"
                                v-on:change="getSelectTags()"      
                                >
                                   <option v-for="collection in collections" :key="collection.id" v-bind:value="collection.id">{{collection.name}}</option>
                          </select>
                          <label for="">Фильтр тэгов</label>
                          <input class="form-control" placeholder="фильтр тэгов" v-model="searchac" v-on:keyup="getSelectTags()" >

                      </div>

                      <select v-model="addTagForm.idTag"    
                              size="10"
                              class="form-control col-sm-6"
                      >
                          <option v-for="tag in selectTags" :key="tag.id" v-bind:value="tag.id">{{tag.name}} _ {{tag.alias}}</option>
                      </select>

                      <button type="submit" class=" btn btn-primary addtagbtn">Добавить тэг</button>

                    </div>
                    <!--Конец изменений-->
                </form>
                <hr/>
                <div class="table-responsive">
                 
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col"  @click="sortItems('name')" class="cursorPointer" title="Сортировать">Название 
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                        </th>
                      <th scope="col"  @click="sortItems('alias')" class="cursorPointer" title="Сортировать">Алиас 
                        <span v-if="pagination.sort == 'alias' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'alias' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(tag, index) in tags" :key="index">
                      <td>{{ tag.id }}</td>
                      <td>{{ tag.name }}</td>
                      <td>{{ tag.alias }}</td>
                      <td>
                        <div class="controls-items">
                          <a class="page-link" @click="onDeleteTag(tag)"  style="color:red" title="Удалить">
                          <i class="icon-trash"></i>
                          </a>
                        </div>               
                      </td>
                    </tr>
                  </tbody>
                </table>

                </div>
            </div>
        </div>

        <paginations v-bind:page="pagination.page"
                    v-bind:countPages="pagination.countPages"
                    v-bind:countItemsPage="pagination.countItemsPage"
                    @selecpage="getPagePagination" >
        </paginations>

        <div class="col-sm-2">
                    <div class="form-group" >
                        <label for="">Записей на странице</label>
                        <select class="form-control"
                         v-model="pagination.countItemsPage"
                        v-on:change="getTags()"
                        >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
        </div>       
<!-- -->


  </div>
</template>


<script>
import Alert from '../Alert';
import Paginations from '../template/Paginations';

export default {
  data() {
    return {
      tags: [],
      searchac: '',
      selectTags: [],
      tags: [],
      provaider: {},
      collections: [],
      selectTagsStatus: true,
      selectQStatus: true,
      filterCollection: "",
      provaideritem: {},
      pagination:{
          page: 1,
          sort: '',
          sortDirection: '',
          countItemsPage: 10,
          countPages: 1,
          q: '',
      },
      message: '',
      showMessage: false,
      addTagForm: {
        idTag: '',
      },
    };
  },
  components: {
    alert: Alert,
    paginations: Paginations,
  },
  methods: {
        getPagePagination(page){
            this.pagination.page = page;
            this.getTags();
        },
        sortItems(field){
          this.pagination.sort = field;
          if(this.pagination.sortDirection == '')
             this.pagination.sortDirection = 'desc'
          else 
             this.pagination.sortDirection = ''
          this.getTags();
        },
        getTags() {
          const provaideritem_id = this.$route.params.id;
          var getParams = "?page=" + this.pagination.page;
          getParams += "&sort="+this.pagination.sort;
          getParams += "&sortDirection="+this.pagination.sortDirection;
          getParams += "&countItemsPage="+this.pagination.countItemsPage;
          const path = `/provaideritem/${provaideritem_id}/tags`+getParams;
          axios.get(path)
            .then((res) => {
              this.tags = res.data.items;
              this.pagination.page = res.data.page;
              this.pagination.countPages = res.data.countPages;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        getCollections() {
          const path = '/collections/all';
          axios.get(path)
            .then((res) => {
              this.collections = res.data;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        getProvaideritem() {
          const provaideritem_id = this.$route.params.id;
          const path = `/provaideritem/${provaideritem_id}`;
          axios.get(path)
            .then((res) => {
              this.provaideritem = res.data;
              this.getProvaider();
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
         getProvaider() {
          const provaider_id = this.provaideritem.provaider_id;
          const path = `/provaider/${provaider_id}`;
          axios.get(path)
            .then((res) => {
              this.provaider = res.data;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        getSelectTags() {
          if(this.selectTagsStatus){
            this.getSelectTagsSearch()
            this.selectTagsStatus = false;
            setTimeout(() =>this.changeSelectTagsSearch(), 500);
          }  
        },
        changeSelectTagsSearch() {
          this.selectTagsStatus = true;
        },
        getSelectTagsSearch() {
          const provaideritem_id = this.$route.params.id;
          const params = '?q=' + this.searchac + '&collection_id=' + this.filterCollection;
          const path = `/provaideritem/${provaideritem_id}/selecttags`+params;
          axios.get(path)
            .then((res) => {
              this.selectTags = res.data;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        onDeleteTag(tag) {
         this.deleteTag(tag);
        },
        addTag(payload) {
          const path = '/tag-provaideritem/create';
          axios.post(path, payload)
            .then(() => {
              this.getTags();
              this.getSelectTags();
              this.message = 'Тэг добавлен!';
              this.showMessage = true;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.log(error);
              this.getTags();
            });
        },
        onSubmit(evt) {
          evt.preventDefault();
          const str = {
            tag_id: this.addTagForm.idTag,
            provaideritem_id: this.$route.params.id,
          };
          const payload = JSON.stringify(str);
          this.addTag(payload);
          this.initForm();
        },
        initForm() {
          this.addTagForm.idTag = '';
          this.searchac = '';
        },
        deleteTag(props){
                this.$swal({
                    title: 'Удалить запись?',
                    text: "При подтверждении, запись будет удалена!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Да, я хочу удалить'
                }).then((result) => {
                    if (result.value) {
                        const provaideritem_id = this.$route.params.id;
                        const path = `/tag/${props.id}/provaideritem/${provaideritem_id}/delete`;
                        axios.delete(path).then((response) => {
                            //this.$toastr.s('Успешное удаление');
                            this.getTags();
                            this.getSelectTags();
                        }, (response) => {
                            this.errors = response.response.data.errors;
                            this.$toastr.w('Проверьте правильность заполнения полей формы', 'Ошибка');
                        }).catch(() => {
                            this.$toastr.e('Произошла непредвиденная ошибка сервера. Попробуйте позже', 'Ошибка!')
                        })
                        this.$swal.fire(
                            'Удалено!',
                            'Ваша запись успешно удалена.',
                            'success'
                        )
                    }
                });
            }

    },
    created() {
      this.getProvaideritem();
      this.getTags();
      this.getSelectTags();
      this.getCollections();
    },
};
</script>
