.breadcrumb {border: none}

.sidebar-dark .sidebar, .sidebar-dark .navbar .navbar-brand-wrapper {background: #2e1846}

.navbar .navbar-brand-wrapper .navbar-brand img {width: 85px;;height:auto}

.xran-admin-logo {
margin-top: 15px;
}
 
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.2s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.25, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}
.mx-datepicker {
    display: flex !important;
}
.mx-input-wrapper {
    display: flex;
    height: calc(2.25rem + 2px);
}
.controls-items > a{
    display: inline;
}
.cursorPointer {
    cursor: pointer;
}
.addtagbtn {
    height: 42px;
    margin: 10px;
}
.body-xran select.form-control {
    color: #797878;
}
.body-xran .form-control:focus {
    color: #495057;
}