 
<template>
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link :to="{name: 'Books'}">Рабочий стол</router-link></li>
                <li class="breadcrumb-item active" aria-current="page">Список заданий</li>
            </ol>
        </nav>
<alert :message=message v-if="showMessage"></alert>
        <div class="card">
            <div class="card-body">

                <h4 class="card-title float-left">Список заданий</h4>
                <router-link :to="{name: 'collection-create'}" class="btn btn-primary btn-sm float-right" >Добавить задание</router-link>

                <div class="table-responsive">
                    <div class="form-group col-sm-4" > 
                          <label for="">Провайдер:</label>
                          <select v-model="filterProvaider" class="form-control col-sm-6"
                                v-on:change="getSelectQ()"      
                                >
                                   <option value="all">Показать все</option>
                                   <option v-for="provaider in provaiders" :key="provaider.id" v-bind:value="provaider.id">{{provaider.name}}</option>
                          </select>
                    </div>  
                    <div class="form-group col-sm-4">
                        <label for="">Поиск</label>
                        <input class="form-control" placeholder="Поиск"  v-model="pagination.q" v-on:keyup="getSelectQ()">
                    </div>   
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="withСompleted" v-model="state" v-on:change="getTasks()" >
                      <label class="form-check-label" for="withСompleted">
                        Показывать завершеные
                      </label>
                    </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"  @click="sortItems('id')" class="cursorPointer" title="Сортировать">ID 
                        <span v-if="pagination.sort == 'id' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'id' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                      </th>
                      <th scope="col"  @click="sortItems('name')" class="cursorPointer" title="Сортировать">Название 
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                      </th>
                      <th scope="col"  @click="sortItems('provaider_name')" class="cursorPointer" title="Сортировать">Провайдер 
                        <span v-if="pagination.sort == 'provaider_name' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'provaider_name' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                      </th>
                      <th scope="col">Статус </th>
                      <th scope="col">Дата создания</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(task, index) in tasks" :key="index">
                      <td>{{ task.id }}</td>
                      <td>{{ task.name }}</td>
                      <td>{{ task.provaider.name }}</td>
                      <td>
                          <span v-if="task.state ==  0">
                            На выполнение
                          </span>
                          <span v-else>
                            Закончена
                          </span>

                      </td>
                      <td>{{ task.date }}</td>
                      <td>
                        <div class="controls-items">

                        </div>               
                      </td>
                    </tr>
                  </tbody>
                </table>

                </div>
            </div>
        </div>

        <paginations v-bind:page="pagination.page"
                    v-bind:countPages="pagination.countPages"
                    v-bind:countItemsPage="pagination.countItemsPage"
                    @selecpage="getPagePagination" >
        </paginations>

        <div class="col-sm-2">
                    <div class="form-group" >
                        <label for="">Записей на странице</label>
                        <select class="form-control"
                         v-model="pagination.countItemsPage"
                        v-on:change="getTasks()"
                        >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
        </div>       
<!-- -->


  </div>
</template>


<script>
import Alert from '../Alert';
import Paginations from '../template/Paginations';

export default {
  data() {
    return {
      tasks: [],
      provaiders: [],
      selectQStatus: true,
      state: 0,
      filterProvaider: "all",
      pagination:{
          page: 1,
          sort: '',
          sortDirection: '',
          countItemsPage: 10,
          countPages: 1,
          q: '',
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
    paginations: Paginations,
  },
  methods: {
        getSelectQ() {
          if(this.selectQStatus){
            this.getTasks();
            this.selectQStatus = false;
            setTimeout(() =>this.changeSelectQSearch(), 500);
          }  
        },
        changeSelectQSearch() {
          this.selectQStatus = true;
        },
        getPagePagination(page){
            this.pagination.page = page;
            this.getTasks();
        },
        sortItems(field){
          this.pagination.sort = field;
          if(this.pagination.sortDirection == '')
             this.pagination.sortDirection = 'desc'
          else 
             this.pagination.sortDirection = ''
          this.getTasks();
        },
        getTasks() {
          var getParams = "?page=" + this.pagination.page;
          getParams += "&sort="+this.pagination.sort;
          getParams += "&sortDirection="+this.pagination.sortDirection;
          getParams += "&countItemsPage="+this.pagination.countItemsPage;
          getParams += "&q="+this.pagination.q;
          if(this.state){
            getParams += "&state=all";
          }
          const path = `/tasks/${this.filterProvaider}/`+getParams;
          axios.get(path)
            .then((res) => {
              this.tasks = res.data.items;
              this.pagination.page = res.data.page;
              this.pagination.countPages = res.data.countPages;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        getProvaiders() {
          const path = '/provaiders/all';
          axios.get(path)
            .then((res) => {
              this.provaiders = res.data;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
    },
    created() {
      this.getTasks();
      this.getProvaiders();
    },
};
</script>
