<template>

    <div class="" style="text-align:center">
        <p style="font-size:54pt;">Доступ запрещен</p>
        <br>
        <br>
        <br>
        <p style="font-size:34pt;">403</p>
    </div>

</template>