<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/vendors/iconfonts/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/css/custom.css">



    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Go + Vue CRUD</title>
  </head>
  <body class="sidebar-dark">
<div class="body-xran container-scroller" id="app">

</div>

    <!-- built files will be auto injected -->
  </body>
</html>
