<template>

    <div class="">
        123
    </div>

</template>


<script>

    export default {

        methods: {



        },

        mounted() {

            // axios.get('/test').then((response) => {
            //     console.log(response)
            // })

        }

    }

</script>