 
<template>
  <div>
    <button type="button" class="btn btn-primary">{{ msg }}</button>
  </div>
</template>

<script>

export default {
  name: 'Session',
  data() {
    return {
      msg: '',
      user: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    getMessage() {
      const path = '/sessions';
      this.user.email = 'test@test.ru';
      this.user.password = '123456';
      const str = JSON.stringify(this.user);
      axios.post(path, str)
        .then((res) => {
          this.msg = res.data;
        })
        .catch((error) => {
          // eslint-выключение следующей строки
          console.error(error);
        });
    },
  },
  created() {
    this.getMessage();
  },
};
</script>