<template>

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <!---->
            <router-link class="navbar-brand brand-logo xran-admin-logo mr-5" :to="{name: 'dashboard'}"><img src="/images/logo.png" class="mr-2" alt="logo"/></router-link>
            <router-link class="navbar-brand brand-logo-mini  mr-2" :to="{name: 'dashboard'}"><img src="/images/logo.png" alt="logo"/></router-link>
            
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" @click="sidebarHide = !sidebarHide">
                <span class="ti-layout-grid2"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">

            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#" @click="$store.dispatch('AUTH_LOGOUT')">
                        <i class="ti-control-backward"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="ti-layout-grid2"></span>
            </button>
        </div>
    </nav>

</template>


<script>

    export default {

        data() {
            return {
                sidebarHide: false
            }
        },

        watch: {
            sidebarHide: function(val) {
                if(val) {
                    document.body.classList.add('sidebar-icon-only')
                }else{
                    document.body.classList.remove('sidebar-icon-only')
                }
            }
        }

    }

</script>
