<template>
        <nav aria-label="Page navigation example">
          <ul class="pagination" v-if="countPages > 1">
            
            <li class="page-item" v-if="pagination.botton1.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton1.page)">
                {{pagination.botton1.title}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton2.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton2.page)">
                {{pagination.botton2.title}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton3.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton3.page)">
                {{pagination.botton3.page}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton4.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton4.page)">
                {{pagination.botton4.page}}</a>
            </li>

            <li class="page-item active" v-if="pagination.botton5.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton5.page)">
                {{pagination.botton5.page}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton6.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton6.page)">
                {{pagination.botton6.page}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton7.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton7.page)">
                {{pagination.botton7.page}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton8.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton8.page)">
                {{pagination.botton8.title}}</a>
            </li>

            <li class="page-item" v-if="pagination.botton9.visible">
              <a class="page-link" href="#" v-on:click="getPagePagination(pagination.botton9.page)">
                {{pagination.botton9.title}}</a>
            </li>
          </ul>
        </nav>
        
</template>


<script>
 
export default {
  props: ['page', 'countPages', 'countItemsPage'],
  data() {
    return {
      pagination:{
          page: this.page,
          countItemsPage: this.countItemsPage,
          countPages: this.countPages,
          botton1: {
             visible:true,
             page: 1,
             title: '<<',
          },
          botton2: {
             visible:true,
             page: 1,
             title: '<',
          },
          botton3: {
             visible:true,
             page: 1,
          },
          botton4: {
             visible:true,
             page: 1,
          },
          botton5: {
             visible:true,
             page: 1,
          },
          botton6: {
             visible:true,
             page: 1,
          },
          botton7: {
             visible:true,
             page: 1,
          },
          botton8: {
             visible:true,
             page: 1,
             title: '>',
          },
          botton9: {
             visible:true,
             page: 1,
             title: '>>',
          }
      },
    };
  },
  watch: {
    page: function (val) {
      this.pagination.page = this.page;
      this.paginationRestore();
    },
    countPages: function (val) {
      this.pagination.countPages = this.countPages;
      this.paginationRestore();
    },
    countItemsPage: function (val) {
      this.pagination.countItemsPage = this.countItemsPage;
      this.paginationRestore();
    },
  },
  methods: {

        getPagePagination(page){
            this.pagination.page = page;
            this.$emit('selecpage', this.pagination.page);
        },
        paginationRestore(){

          this.pagination.botton1.page = 1;
          this.pagination.botton2.page = this.pagination.page - 1;
          this.pagination.botton3.page = this.pagination.page - 2;
          this.pagination.botton4.page = this.pagination.page - 1;
          this.pagination.botton5.page = this.pagination.page;
          this.pagination.botton6.page = this.pagination.page + 1;
          this.pagination.botton7.page = this.pagination.page + 2;
          this.pagination.botton8.page = this.pagination.page + 1;
          this.pagination.botton9.page = this.pagination.countPages;

          this.pagination.botton1.visible = true;
          if(this.pagination.page < 3){this.pagination.botton1.visible = false}

          this.pagination.botton2.visible = true;
          if(this.pagination.page < 2){this.pagination.botton2.visible = false}

          this.pagination.botton3.visible = true;
          if(this.pagination.botton3.page <= 0){this.pagination.botton3.visible = false}

          this.pagination.botton4.visible = true;
          if(this.pagination.botton4.page <= 0){this.pagination.botton4.visible = false}
          this.pagination.botton5.visible = true;

          this.pagination.botton6.visible = true;
          if(( this.pagination.countPages - this.pagination.page) < 1)
          {this.pagination.botton6.visible = false}

          this.pagination.botton7.visible = true;
          if(( this.pagination.countPages - this.pagination.page) < 2)
          {this.pagination.botton7.visible = false}

          this.pagination.botton8.visible = true;
          if(( this.pagination.countPages - this.pagination.page) < 1)
          {this.pagination.botton8.visible = false}

          this.pagination.botton9.visible = true;
          if(( this.pagination.countPages - this.pagination.page) < 2)
          {this.pagination.botton9.visible = false}
        },
    },
    mounted() {
       this.paginationRestore();
    },
    
};

</script>
