<template>

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

            <li class="nav-item active">
                <router-link class="nav-link" :to="{name: 'dashboard'}">
                    <i class="ti-home menu-icon"></i>
                    <span class="menu-title">Рабочий стол</span>
                </router-link>
            </li>
<!--    
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="javascript:;"
                   :aria-expanded="active == 'provaider' ? 'true' : 'false'"
                   v-bind:class="active == 'provaider' ? 'collapsed' : ''"
                   @click="active = active == 'provaider' ? '' : 'provaider'">
                    <i class="ti-truck menu-icon"></i>
                    <span class="menu-title">Провайдеры</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic" v-bind:class="active == 'provaider' ? 'show' : ''">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'provaider'}">Провайдеры</router-link></li>

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="javascript:;"
                   :aria-expanded="active == 'users' ? 'true' : 'false'"
                   v-bind:class="active == 'users' ? 'collapsed' : ''"
                   @click="active = active == 'users' ? '' : 'users'">
                    <i class="ti-user menu-icon"></i>
                    <span class="menu-title">Пользователи</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic" v-bind:class="active == 'users' ? 'show' : ''">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'users'}">Список</router-link></li>
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'roles'}">Роли</router-link></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/badges.html">Права</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="javascript:;"
                   :aria-expanded="active == 'statistics' ? 'true' : 'false'"
                   v-bind:class="active == 'statistics' ? 'collapsed' : ''"
                   @click="active = active == 'statistics' ? '' : 'statistics'">
                    <i class="ti-user menu-icon"></i>
                    <span class="menu-title">Статистика</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic" v-bind:class="active == 'statistics' ? 'show' : ''">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'statistics'}">По операторам</router-link></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="javascript:;"
                   :aria-expanded="active == 'leads' ? 'true' : 'false'"
                   v-bind:class="active == 'leads' ? 'collapsed' : ''"
                   @click="active = active == 'leads' ? '' : 'leads'">
                    <i class="ti-settings menu-icon"></i>
                    <span class="menu-title">Управление лидами</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" v-bind:class="active == 'leads' ? 'show' : ''">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'leads-projects-dist'}">Распределения</router-link></li>
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'leads-projects'}">Проекты</router-link></li>
                        <li class="nav-item"> <router-link class="nav-link" :to="{name: 'leads-projects-queue'}">Очереди</router-link></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'clinic'}">
                    <i class="ti-stats-up menu-icon"></i>
                    <span class="menu-title">Clinic Stat</span>
                </router-link>
            </li>

            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'monitor'}">
                    <i class="ti-desktop menu-icon"></i>
                    <span class="menu-title">Мониторинг</span>
                </router-link>
            </li>
-->
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'provaider'}">
                    <i class="ti-truck menu-icon"></i>
                    <span class="menu-title">Провайдеры</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'collection'}">
                    <i class="ti-harddrives menu-icon"></i>
                    <span class="menu-title">Коллекции</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'tag'}">
                    <i class="ti-tag menu-icon"></i>
                    <span class="menu-title">Тэги</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'tasks'}">
                    <i class="ti-clipboard  menu-icon"></i>
                    <span class="menu-title">Задания</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'auth'}">
                    <i class="ti-shift-right  menu-icon"></i>
                    <span class="menu-title">Войти</span>
                </router-link>
            </li>
            
        </ul>
    </nav>

</template>


<script>

    export default {
        data() {
            return {
                active: ''
            }
        }
    }

</script>
