<template>
  <div id="app">
    <header-block></header-block>
        <div class="container-fluid page-body-wrapper">
            <sidebar-block></sidebar-block>

            <div class="main-panel">

                <div class="content-wrapper">
                   <!--
                    <transition :name="transitionName"
                                mode="out-in">
                        <router-view></router-view>
                    </transition>
                     -->
                   <router-view></router-view>
                </div>

                <footer-block></footer-block>

            </div>

        </div>
  </div>
</template>

<style>

.container-fluid, .page-body-wrapper {
  padding-right: 0;
  padding-left: 0;
}
</style>


