<template>

    <div class="">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link :to="{name: 'Books'}">Рабочий стол</router-link></li>
                <li class="breadcrumb-item"><router-link :to="{name: 'collection'}">Список коллекций</router-link></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title ">{{title}}</h4>

                <form class="forms-sample" @submit.prevent="saveForm()">

                    <!--Начало изменений-->

                    <div class="form-group" v-bind:class="{'has-danger': errors.name}">
                        <label for="">Name</label>
                        <input class="form-control" placeholder="Name" v-bind:class="{'form-control-danger': errors.name}" v-model="form.name">
                        <label class="error mt-2 text-danger" v-if="errors.name">{{errors.name}}</label>
                    </div>

                    <div class="form-group" v-bind:class="{'has-danger': errors.alias}">
                        <label for="">Alias</label>
                        <input class="form-control" placeholder="Alias" v-bind:class="{'form-control-danger': errors.alias}" v-model="form.alias">
                        <label class="error mt-2 text-danger" v-if="errors.alias">{{errors.alias}}</label>
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                    <router-link :to="{name: 'collection'}" class="btn btn-light">Cancel</router-link>

                    <!--Конец изменений-->
                </form>

            </div>
        </div>
    </div>

</template>

<script>

export default {
  data() {
    return {
      isNew: true,
      title: "Создание коллекции",
      isProcess: false,
      errors: {},
      form: {
        id: '',
        name: '',
        alias: '',
      },
    };
  },
  components: {
  },
  methods: {
        initForm() {
          this.form.id = '';
          this.form.name = '';
          this.form.alias = '';
        },
        saveForm(){
          const str = {
            name: this.form.name,
            alias: this.form.alias,
          };
          const payload = JSON.stringify(str);
          if(this.isNew){
              this.addCollection(payload);
          }
          else{
              this.updateCollection(payload, this.form.id);
          }
        },
        addCollection(payload) {
          const path = '/collection/create';
          axios.post(path, payload)
            .then(() => {
              this.initForm(); 
              this.$router.push({name: 'collection'});
            })
            .catch((error) => {
              console.log(error);
            });
        },
        updateCollection(payload, collectionID) {
          const path = `/collection/update/${collectionID}`;
          axios.put(path, payload)       
            .then(() => {
              this.initForm(); 
              this.$router.push({name: 'collection'});
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        onReset(evt) {
          evt.preventDefault();
          this.initForm();
        },
        getData() {
            axios.get( '/collection/' + this.$route.params.id).then((response) => {
                this.form = response.data;
                this.title = "Редактирование категории: "+this.form.name;
            })
        }

    },
    mounted() {
        if(this.$route.params.id.length == 36) {
            this.isNew = false;
            this.getData();
        }
    }
};
</script>
