 
<template>
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link :to="{name: 'Books'}">Рабочий стол</router-link></li>
                <li class="breadcrumb-item active" aria-current="page">Список коллекций</li>
            </ol>
        </nav>
<alert :message=message v-if="showMessage"></alert>
        <div class="card">
            <div class="card-body">

                <h4 class="card-title float-left">Список коллекций</h4>
                <router-link :to="{name: 'collection-create'}" class="btn btn-primary btn-sm float-right" >Создать коллекцию</router-link>

                <div class="table-responsive">
 
                    <div class="form-group col-sm-4">
                        <label for="">Поиск</label>
                        <input class="form-control" placeholder="Поиск"  v-model="pagination.q" v-on:keyup="getSelectQ()">
                    </div>                  
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col"  @click="sortItems('name')" class="cursorPointer" title="Сортировать">Название 
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'name' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                        </th>
                      <th scope="col"  @click="sortItems('alias')" class="cursorPointer" title="Сортировать">Алиас 
                        <span v-if="pagination.sort == 'alias' && pagination.sortDirection == ''">
                          &#8593;
                        </span>  
                        <span v-if="pagination.sort == 'alias' && pagination.sortDirection == 'desc'">
                          &#8595;
                        </span>  
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(collection, index) in collections" :key="index">
                      <td>{{ collection.id }}</td>
                      <td>{{ collection.name }}</td>
                      <td>{{ collection.alias }}</td>
                      <td>
                        <div class="controls-items">
                          <a class="page-link" @click="goEditCollection(collection)" title="Редактировать">
                          <i class="icon-pencil"></i>
                          </a>
                          <a class="page-link" @click="onDeleteCollection(collection)"  style="color:red" title="Удалить">
                          <i class="icon-trash"></i>
                          </a>
                          <a class="page-link" @click="goCollectionTasg(collection)"  title="Тэги коллекции">
                          <i class="icon-layers"></i>
                          </a>
                        </div>               
                      </td>
                    </tr>
                  </tbody>
                </table>

                </div>
            </div>
        </div>

        <paginations v-bind:page="pagination.page"
                    v-bind:countPages="pagination.countPages"
                    v-bind:countItemsPage="pagination.countItemsPage"
                    @selecpage="getPagePagination" >
        </paginations>

        <div class="col-sm-2">
                    <div class="form-group" >
                        <label for="">Записей на странице</label>
                        <select class="form-control"
                         v-model="pagination.countItemsPage"
                        v-on:change="getCollections()"
                        >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
        </div>       
<!-- -->


  </div>
</template>


<script>
//import axios from 'axios';
import Alert from '../Alert';
import Paginations from '../template/Paginations';

export default {
  data() {
    return {
      collections: [],
      selectQStatus: true,
      pagination:{
          page: 1,
          sort: '',
          sortDirection: '',
          countItemsPage: 10,
          countPages: 1,
          q: '',
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
    paginations: Paginations,
  },
  methods: {
        goCollectionTasg(collection){
           this.$router.push({name: 'collection-tags', params: {id: collection.id}});
        },
        goEditCollection(collection) {
          this.$router.push({name: 'collection-edit', params: {id: collection.id}});
        },
        getSelectQ() {
          if(this.selectQStatus){
            this.getCollections();
            this.selectQStatus = false;
            setTimeout(() =>this.changeSelectQSearch(), 500);
          }  
        },
        changeSelectQSearch() {
          this.selectQStatus = true;
        },
        getPagePagination(page){
            this.pagination.page = page;
            this.getCollections();
        },
        sortItems(field){
          this.pagination.sort = field;
          if(this.pagination.sortDirection == '')
             this.pagination.sortDirection = 'desc'
          else 
             this.pagination.sortDirection = ''
          this.getCollections();
        },
        getCollections() {
          var getParams = "?page=" + this.pagination.page;
          getParams += "&sort="+this.pagination.sort;
          getParams += "&sortDirection="+this.pagination.sortDirection;
          getParams += "&countItemsPage="+this.pagination.countItemsPage;
          getParams += "&q="+this.pagination.q;

          const path = '/collections'+getParams;
          axios.get(path)
            .then((res) => {
              this.collections = res.data.items;
              this.pagination.page = res.data.page;
              this.pagination.countPages = res.data.countPages;
            })
            .catch((error) => {
              // eslint-отключение следующей строки
              console.error(error);
            });
        },
        onDeleteCollection(collection) {
         this.deleteCollection(collection);
        },
        deleteCollection(props){
                this.$swal({
                    title: 'Удалить запись?',
                    text: "При подтверждении, запись будет удалена!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Да, я хочу удалить'
                }).then((result) => {
                    if (result.value) {
                        const path = `/collection/delete/${props.id}`;
                        axios.delete(path).then((response) => {
                            //this.$toastr.s('Успешное удаление');
                            this.getCollections();
                        }, (response) => {
                            this.errors = response.response.data.errors;
                            this.$toastr.w('Проверьте правильность заполнения полей формы', 'Ошибка');
                        }).catch(() => {
                            this.$toastr.e('Произошла непредвиденная ошибка сервера. Попробуйте позже', 'Ошибка!')
                        })
                        this.$swal.fire(
                            'Удалено!',
                            'Ваша запись успешно удалена.',
                            'success'
                        )
                    }
                });
            }

    },
    created() {
      this.getCollections();
    },
};
</script>
