<template lang="html">




    <div class="">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title ">Войти</h4>

                        <form class="pt-3" @submit.prevent="login">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" placeholder="Username" v-model="form.email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" placeholder="Password" v-model="form.password">
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <a href="#" class="auth-link text-black">Forgot password?</a>
                            </div>
                        </form>

            </div>
        </div>
    </div>
    
</template>


<script>
    export default {
        data() {
            return {
                form: {}
            }
        },

        methods: {

            login() {
                const str = {
                    email: this.form.email,
                    password: this.form.password,
                };
                const payload = JSON.stringify(str);

                axios.post('/auth/sign-in', payload, {skipAuth: true}).then((response) => {
                    this.$store.dispatch('SAVE_AUTH_DATA', response.data);
                    window.location.href = '/'
                })
            }

        },

    }
</script>